@model NetCore_Assignemt.Models.Book
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-5">
        <div>
            <h4>Book</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Publisher)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
            <button onclick="addToCart(@Model.BookId,1)">Add to Cart</button>
        </div>
    </div>
    <div class="col-4">
        <img src="~/images/@Model.ImagePath" alt="Book Image" width="200" height="200" />
    </div>
</div>
@* </style>

<div class="detail-container">
    <img src="~/images/@Model.ImagePath" alt="Book Image" width="200" height="200" />
    <h2>@Model.Title</h2>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price</p>

    <a asp-action="AddCart" asp-route-id="@Model.BookId" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i></a>
    <a asp-action="ListCart" class="btn btn-success"><i class="fa-solid fa-cart-shopping"></i></a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-left-long"></i></a>
</div>
 *@
