@model NetCore_Assignemt.Services.DTO.OrderDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="~/js/Business/Order.js"></script>
<h1>Details</h1>
 <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Order Management</h1>

        </div>
<!-- Single Page Header End -->
<div class="m-2 ps-2 pe-2">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Total
        </dt>
        <dd class = "col-sm-10">
            @Model.Order.Total
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @switch (Model.Order.Status)
            {
                case -1:
                    <span class="badge rounded-pill badge-danger" style="background-color:#C62828">Canceled</span>
                    break;
                case 0:
                    <span class="badge rounded-pill badge-warning" style="background-color:#FF9800">Pending</span>

                    break;
                case 1:
                    <span class="badge rounded-pill badge-secondary" style="background-color:#673AB7">Packaging</span>
                    break;
                case 2:
                    <span class="badge rounded-pill badge-primary" style="background-color:#26C6DA">Shipping</span>

                    break;
                case 3:
                    <span class="badge rounded-pill badge-success" style="background-color:#388E3C">Completed</span>
                    break;
            }
        </dd>
        <dt class = "col-sm-2">
            Created Date
        </dt>
        <dd class = "col-sm-10">
            @Model.Order.CreatedDate
        </dd>
        <dt class = "col-sm-2">
            Payment Transaction Id
        </dt>
        <dd class = "col-sm-10">
            @Model.Order.PaymentTranId
        </dd>
        <dt class = "col-sm-2">
            Bank Code
        </dt>
        <dd class = "col-sm-10">
            @Model.Order.BankCode
        </dd>
        <dt class = "col-sm-2">
            Pay Status
        </dt>
        <dd class = "col-sm-10">
            @Model.Order.PayStatus    
        </dd>
        <dt class = "col-sm-2">
            User Name
        </dt>
        <dd class = "col-sm-10">
            @Model.User.UserName
        </dd>

    </dl>
</div>
<div>
    <button class="btn btn-danger" onclick="cancelOrder(@Model.Order.Id)">Cancel Order</button> |
    @if (User.IsInRole("Admin") || User.IsInRole("Mod"))
    {
        <button class="btn btn-success" onclick="NextStage(@Model.Order.Id)">Move to Next Stage</button>
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    }
    else
    {
        <a asp-action="MyOrders" class="btn btn-dark">Back to List</a>

    }
</div>
